<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sensor_de_movimento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sensor_de_movimento.Properties.Settings>
            <setting name="sensibilidade" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="quadros" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="textocalibra" serializeAs="String">
                <value>Não Clibrado</value>
            </setting>
            <setting name="index1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="check0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="check7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="index2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="diretorioimagens" serializeAs="String">
                <value>Indefinido</value>
            </setting>
            <setting name="diretoriosom" serializeAs="String">
                <value>Indefinido</value>
            </setting>
            <setting name="check8" serializeAs="String">
                <value>False</value>
            </setting>
        </Sensor_de_movimento.Properties.Settings>
    </userSettings>
</configuration>